<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<title>Scrabble Word Calculator</title>
</head>
<body>
	<div class='container'>
		<h1> Scrabble Word Calculator </h1>
		<form action='/results'>
			<div class='form-group'>
				<div class='row'>
					<div class='col-md-4'>
						<label for='string'> Enter a Scrabble Word to Test: </label>
						<input id='string' name='string' class='form-control' type='text'>
					</div>
				</div>
			</div>
			<button type='submit' class='btn-success'>Submit</button>
		</form>
	</div>
</body>
</html>
