<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<title>Day of the Week Calculator</title>
</head>
<body>
	<div class='container'>
		<h1> Day of the Week Calculator </h1>
		<form action='/results'>
			<div class='form-group'>
				<div class='row'>
					<div class='col-md-4'>
						<label for='date'> Enter a Date: </label>
						<input id='date' name='date' class='form-control' type='date' placeholder='08/13/2015'>
					</div>
				</div>
			</div>
			<button type='submit' class='btn-success'>Submit</button>
		</form>
	</div>
</body>
</html>
